h2{
	color: #8B008B;
	font-family: Yu Mincho Light, sans-serif;
}

h1{
	font-family: font-family: Comic Sans MS;
	color: #256F5C;
	border: 10px;
	border-style: groove;
	margin: 30px;
	padding: 25px;
	text-align: center;
}

h3{
	font-family: Yu Mincho Light, sans-serif;
	color: #403076;
}

p{
	font-family: Yu Mincho Light, sans-serif;
	color: #403076;
}

#mainContent{
margin-left: 150px;

}

#navBar ul li a{
	text-decoration: none;
	display: block;
	color: black
}

#navBar ul{
	list-style-type: none;
	margin-left: -10;
	margin-right: 20;
}

#navBar ul li a:hover{
	background-color: pink
}

#navBar{
	font-family: Batang;
	background-color: #00CED1;
	margin-left: 0;
	margin-top: 0;
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
}

