h2{
	color: #BA55D3;
	font-family: Yu Mincho Light;
	text-align: center;
}

h1{
	font-family: Rockwell;
	color: #BA55D3;
	border: 30px;
	border-style: groove;
	border-color: #D4F09C #E6F7C5 #E6F7C5 #D4F09C;
	margin: 30px;
	padding: 25px;
	text-align: center;
	font-size: 55px;
}

h3{
	font-family: Yu Mincho Light, sans-serif;
	color: #403076;
	text-align: center;	
}

p{
	font-family: Yu Mincho Light, sans-serif;
	color: #403076;
}

#mainContent img{
	height: 450px;
	padding: 15px;
	border-style: solid;
	border-color: #00CED1;
	border-radius: 25px;
}

#mainContent{
	margin-left: 210px;
	background-color: #E0FFFF;
}

#navBar h2 a{
	text-decoration: none;
	font-size: 35px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: cyan;
	font-family: Rockwell;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 25px;

}

#navBar ul li a{
	text-decoration: none;
	display: block;
	color: black;
	font-size: 20px;
	font-family: Rockwell;
	border-style: groove;
	border: 7px;
}

#navBar ul{
	list-style-type: none;
	padding-right: 20px;
	padding-left: 20px;
}

#navBar ul li a:hover{
	background-color: pink;
}

#navBar{
	background-color: #00CED1;
	margin-left: 0;
	margin-top: 0;
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
}

#navBar img{
	width: 50%:
}

.stepTitles{
	font-family: Yu Mincho Light, sans-serif;
	color: #403076;
	font-size: 35px;
	text-align: left;
}
